node_modules/
.env
dist/
build/
.DS_Store
*.log
tmp/
.vscode/
.idea/
vendor/
__pycache__/
*.pyc
frontend/node_modules/
backend/node_modules/
frontend/dist/
backend/dist/
frontend/.env
backend/.env
.vite/
